.content {
    display: flex;
    justify-content: center;
    margin-left: 35px;
    margin-right: 35px;
    margin-top: 20px;
}

.new-sprint {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    width: 60%;
    background-color: #ffffff;
    border-radius: 3px;
    padding: 20px;
}

.new-sprint h1 {
    font-weight: lighter;
    margin-top: 0px;
    margin-bottom: 0px;
}

.sprint-prop {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 10px;
    flex-direction: column;
}

.sprint-prop label {
    font-weight: bolder;
    margin-right: 10px;
    margin-top: 8px;
}

.sprint-prop span {
    font-weight: lighter;
    color: #ff3333;
}

.sprint-prop input,
.sprint-prop select,
.sprint-prop textarea {
    padding: 12px 10px;
    margin: 8px 0px 0px 0px;
    display: inline-block;
    border: 1px solid #7B7D7D;
    border-radius: 4px;
    box-sizing: border-box;
    width: 400px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.1em;
}

.input {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.actions {
    display: flex;
    width: 100%;
    cursor: pointer;
    justify-content: flex-end;
}

.actions button:first-child {
    margin-right: 5px;
}