@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }
}

#stories {
    border-collapse: collapse;
    width: 100%;
}

#stories td,
#stories th {
    border: 1px solid #ddd;
    padding: 8px;
}

#stories tr:nth-child(even) {
    background-color: #f2f2f2;
}

#stories tr:hover {
    background-color: #ddd;
}

#stories th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #7A70A1;
    color: white;
}