<ion-tabs>
    <ion-tab-bar slot="bottom">
        <ion-tab-button tab="general/{{pokemonName}}" class="tab-structure">
            <ion-icon name="information-circle"></ion-icon>
            <ion-label>General</ion-label>
        </ion-tab-button>
        <ion-tab-button tab="abilities/{{pokemonName}}" class="tab-structure">
            <ion-icon name="ribbon"></ion-icon>
            <ion-label>Abilities</ion-label>
        </ion-tab-button>
        <ion-tab-button tab="moves/{{pokemonName}}" class="tab-structure">
            <ion-icon name="move"></ion-icon>
            <ion-label>Moves</ion-label>
        </ion-tab-button>
        <ion-tab-button tab="types/{{pokemonName}}" class="tab-structure">
            <ion-icon name="search"></ion-icon>
            <ion-label>Types</ion-label>
        </ion-tab-button>
    </ion-tab-bar>
</ion-tabs>