<div class="container">
    <form [formGroup]="registerFormGroup" (ngSubmit)="onSubmit(registerFormGroup.value)" class="formwidth">
        <mat-card>
            <mat-card-header>
                <mat-card-title>Account aanmaken</mat-card-title>
            </mat-card-header>
            <mat-card-content>

                <mat-form-field class="full-width">
                    <mat-label>Moederbedrijf</mat-label>
                    <input matInput placeholder="Moederbedrijf" formControlName="parent_company" />
                </mat-form-field>

                <mat-form-field class="full-width">
                    <mat-label>Naam bedrijf</mat-label>
                    <input matInput placeholder="Naam" formControlName="name" />
                    <mat-error *ngIf="registerFormGroup.get('name').hasError('required')">
                        Naam is <strong>verplicht</strong>
                    </mat-error>
                </mat-form-field>

                <mat-form-field class="full-width">
                    <mat-label>Beschrijving</mat-label>
                    <input matInput placeholder="Beschrijving" formControlName="description" />
                    <mat-error *ngIf="registerFormGroup.get('description').hasError('required')">
                        Beschrijving is <strong>verplicht</strong>
                    </mat-error>
                </mat-form-field>

                <mat-form-field class="full-width">
                    <mat-label>Website</mat-label>
                    <input matInput placeholder="Website" formControlName="website" />
                </mat-form-field>

                <mat-form-field class="full-width">
                    <mat-label>Emailadres</mat-label>
                    <input type="email" matInput placeholder="Emailadres" formControlName="emailaddress" />
                    <mat-error *ngIf="registerFormGroup.get('emailaddress').hasError('required')">
                        Emailadres is <strong>verplicht</strong>
                    </mat-error>
                    <mat-error *ngIf="registerFormGroup.get('emailaddress').hasError('email')">
                        Vul een <strong>geldig</strong> email adres in
                    </mat-error>
                </mat-form-field>

                <mat-form-field class="full-width">
                    <mat-label>Wachtwoord</mat-label>
                    <input type="password" matInput placeholder="Wachtwoord" formControlName="password" />
                    <mat-error *ngIf="registerFormGroup.get('password').hasError('required')">
                        Wachtwoord is <strong>verplicht</strong>
                    </mat-error>
                </mat-form-field>

                <mat-form-field class="full-width">
                    <mat-label>Logo</mat-label>
                    <input matInput placeholder="Logo" formControlName="logo_path" />
                </mat-form-field>

                <mat-form-field class="full-width">
                    <mat-label>Adres</mat-label>
                    <input matInput placeholder="Adres" formControlName="address" />
                    <mat-error *ngIf="registerFormGroup.get('address').hasError('required')">
                        Adres is <strong>verplicht</strong>
                    </mat-error>
                </mat-form-field>

                <mat-form-field class="full-width">
                    <mat-label>Postcode</mat-label>
                    <input matInput placeholder="Postcode" formControlName="zipcode" />
                    <mat-error *ngIf="registerFormGroup.get('zipcode').hasError('required')">
                        Postcode is <strong>verplicht</strong>
                    </mat-error>
                </mat-form-field>

                <mat-form-field class="full-width">
                    <mat-label>Stad</mat-label>
                    <input matInput placeholder="Stad" formControlName="city" />
                    <mat-error *ngIf="registerFormGroup.get('city').hasError('required')">
                        Stad is <strong>verplicht</strong>
                    </mat-error>
                </mat-form-field>

                <mat-form-field class="full-width">
                    <mat-label>Land</mat-label>
                    <input matInput placeholder="Stad" formControlName="country" />
                    <mat-error *ngIf="registerFormGroup.get('country').hasError('required')">
                        Land is <strong>verplicht</strong>
                    </mat-error>
                </mat-form-field>

            </mat-card-content>
            <mat-card-actions>
                <button type="submit" mat-raised-button color="primary">Account aanmaken</button>
            </mat-card-actions>
        </mat-card>
    </form>
</div>