<ion-menu side="start" menuId="first" contentId="main">
    <ion-header>
        <ion-toolbar color="primary" class="nav-header">
            <ion-title>Pokedex</ion-title>
        </ion-toolbar>
    </ion-header>
    <ion-content>
        <ion-list *ngFor="let pages of navigate">
            <ion-menu-toggle auto-hide="true">
                <ion-item [routerLink]="pages.url" routerDirection="forward" class="nav-item">
                    <ion-icon [name]="pages.icon" slot="start"></ion-icon>
                    {{pages.title}}
                </ion-item>
            </ion-menu-toggle>
        </ion-list>
    </ion-content>
</ion-menu>