body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: rgb(145, 147, 150); /* Grey */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 20px;
    color: white;
    display: block;
    transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}

/* Overwrite position of menu button */
.navbar-toggle {
    float: left;
    display: block;
}

/* Logo */
.festi-1 {
    color: white;
    font-weight: 600;
    font-size: 25px;
}

.festi-2 {
    color: rgb(190, 158, 33);
    font-weight: 600;
    font-size: 25px;
}

.festi-logo {
    margin-top: 7px;
    text-align: center;
    margin-right: 15%;
}

.survey-float {
    position: fixed;
    width: 100%;
    background-color: white;
    z-index: 1000;
    left: 0;
    top: 51px;
    line-height: 34px;
    padding: 5px 0px;
    box-shadow: black 0px -3px 20px;
}

.spacer-6 {
    display: block;
    margin-bottom: 65px;
}
