.pokemon-header {
    --background: #336863;
    --color: white;
}

.fab-button {
    position: absolute;
    top: -50px;
    right: 5px;
    --background: #76B4A6;
}

.options {
    --background: #76B4A6;
}