<ion-header>
    <ion-toolbar>
        <ion-title>General Information</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card *ngIf="pokemon != null && !err" class="poke-card">
        <ion-card-header>
            <ion-card-title class="header-pokemon"><span id="boldType">Stats of: </span><span>{{pokemon.name | titlecase}}</span></ion-card-title>
        </ion-card-header>

        <ion-card-content>
            <div class="stats">
                <div>
                    <img src="{{pokemon.sprites.front_default}}">
                </div>
                <div class="information">
                    <span>Base Experience:</span>
                    <span>{{pokemon.base_experience}}</span>
                </div>
                <div class="information">
                    <span>Weight:</span>
                    <span>{{pokemon.weight}}</span>
                </div>
                <div class="information">
                    <span>Height:</span>
                    <span>{{pokemon.height}}</span>
                </div>
            </div>
        </ion-card-content>
    </ion-card>

</ion-content>
<div *ngIf="pokemon == null && !err" class="loading">
    <p>Loading Pokemon-data</p>
</div>
<div class="info" *ngIf="err">
    <span class="loading-info">Loading Pokemon has failed</span>
    <span class="warning">Make sure you've an internet connection</span>
    <button onclick="location.reload()">Try Again</button>
</div>