.content-wrapper {
    padding: 10px;
}

.actionrow button:first-child {
    margin-right: 5px;
}

.new-target {
    margin-bottom: 10px;
}

.searchRange {
    margin-left: 5px;
}

.searchRange label,
.searchRange input {
    margin-right: 5px;
}

.review * {
    margin-right: 3px;
}