<div class="bottom-navbar">
    <ion-tabs>
        <ion-tab-bar slot="bottom" color="primary">
            <ion-tab-button tab="profile" class="tab-button-small">
                <div class="navbar-button-small">
                    <ion-icon name="person"></ion-icon>
                </div>
            </ion-tab-button>

            <ion-tab-button tab="home" class="tab-button-large">
                <div class="navbar-button-large">
                    <ion-icon name="calendar"></ion-icon>
                </div>
            </ion-tab-button>

            <ion-tab-button tab="map" class="tab-button-small">
                <div class="navbar-button-small">
                    <ion-icon name="map"></ion-icon>
                </div>
            </ion-tab-button>
        </ion-tab-bar>
    </ion-tabs>
</div>