.projects {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #FFFFFF;
    margin-top: 20px;
    margin-left: 35px;
    margin-right: 35px;
    border-radius: 5px;
}

.projects ul {
    list-style: none;
}

.existing-project {
    background-color: #7A70A1;
    transition: background-color 0.5s ease-in-out;
    color: white;
    width: 200px;
    height: 200px;
    position: relative;
}

.existing-project:hover {
    background-color: #9b92b9;
    transition: background-color 0.5s ease-in-out
}

.new-project:hover {
    background-color: #f2f2f2;
    transition: background-color 0.5s ease-in-out
}

.new-project {
    background-color: #FFFFFF;
    width: 200px;
    height: 200px;
    transition: background-color 0.5s ease-in-out
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    font-size: 1.5em;
    padding: 10px;
    border-radius: 3px;
    border: 1px solid #707070;
    cursor: pointer;
    min-width: 200px;
    min-height: 200px;
}

.card div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card div span {
    text-align: center;
}

.name {
    font-weight: lighter;
}

.information button {
    font-weight: lighter;
    font-size: 0.6em;
    cursor: pointer;
}

.project {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 200px;
    min-height: 200px;
}

.information,
.table-view {
    position: absolute;
    right: 5px;
    bottom: 5px;
}