.container {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.column {
    margin-left: 10px;
    margin-right: 10px;
    min-width: 320px;
    max-width: 320px;
    height: 85vh;
    background-color: white;
}

.project-colums {
    display: flex;
    justify-content: center;
}

.table-view {
    margin-top: 10px;
}

.table-view button:first-child {
    margin-right: 5px;
}

.first {
    margin-left: 15px;
}


/* Responsive layout - when the screen is less than 600px wide, make the three columns stack on top of each other instead of next to each other */

@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }
}

#stories {
    border-collapse: collapse;
    width: 100%;
}

#stories td,
#stories th {
    border: 1px solid #ddd;
    padding: 8px;
}

#stories tr:nth-child(even) {
    background-color: #f2f2f2;
}

#stories tr:hover {
    background-color: #ddd;
}

#stories th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #7A70A1;
    color: white;
}