<div class="credits">
    <div class="header">
        <h3>Credits</h3>
    </div>
    <div class="header">
        <h4>Team App Development</h4>
    </div>
    <div class="names">
        <span>Daan van Berkel</span>
        <span>Jip van Heugten</span>
    </div>
    <div class="header">
        <h4>Team Web Development</h4>
    </div>
    <div class="names">
        <span>Rick van Beek</span>
        <span>David van der Zalm</span>
        <span>Xandor Janssen</span>
    </div>
    <div class="header">
        <h4>Team API Development</h4>
    </div>
    <div class="names">
        <span>Chiel Arts</span>
        <span>Martijn Hanegraaf</span>
        <span>Lars Kruijssen</span>
    </div>
    <div class="header">
        <h4>Opdrachtgever</h4>
    </div>
    <div class="names">
        <span>Mark Groenendaal</span>
    </div>
    <div class="header">
        <h4>Begeleider</h4>
    </div>
    <div class="names">
        <span>Stefan van Dockum</span>
    </div>
    <div class="header">
        <h4>Team Rollen</h4>
    </div>
    <div class="names">
        <span>Rick van Beek - Scrum Master</span>
        <span>Jip van Heugten - Project Manager</span>
        <span>Lars Kruijssen - Relatie Manager</span>
        <span>Martijn Hanegraaf - Versiebeheer Manager</span>
    </div>
</div>