.rounds-table {
  button[mat-raised-button] {
    padding: 0 5px;
    min-width: auto;
    margin-right: 10px;
    line-height: 23px;

    .mat-icon {
      font-size: 18px;
      width: auto;
      height: auto;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}
