<div class="content">
    <div class="new-project">
        <h1>Nieuw Project Aanmaken</h1>
        <span>{{validation.general}}</span>
        <div class="project-prop">
            <label>Kies een naam voor uw project</label>
            <div class="input">
                <input type="text" [(ngModel)]="project.name" />
                <span>{{validation.name}}</span>
            </div>
        </div>
        <div class="project-prop">
            <label>Geef een korte omschrijving van het project</label>
            <div class="input">
                <textarea [(ngModel)]="project.description"></textarea>
                <span></span>
            </div>
        </div>
        <div class="project-prop">
            <label>Wat is de huidige status van het project?</label>
            <div class="input">
                <select (change)="onSelectStatus($event.target.value)"> 
                    <option *ngFor="let option of status">{{option}}</option>
                </select>
                <span>{{validation.status}}</span>
            </div>
        </div>
        <div class="actions">
            <button routerLink="/projects">Terug</button>
            <button (click)="submitProject()">Wijzigingen Opslaan</button>
        </div>
    </div>
</div>